:root {
  --white: #ffffff;
  --white2: #f5f5f5;
  --gold: #a0d2eb;
  --gold2: #c5aacc;
  --blue: #003366;
  --purple: #800080;
}

body {
  background-color: var(--white-50);
  display: flex;
    margin-top: 10px;
    margin-bottom: 10p;
}

.dashboard-main {
  flex: 4;
  padding: 20px;
  margin-right: 230px;


}
